@using Plated_Blazor.Components.Atoms;
@using Plated_Blazor.Client.Models;

<div class="card">
    <img src="@recipe.ImageUrl"
    alt="Recipe Image" />
    <h2 class="title">@recipe.Title</h2>
    <Tag TagText="@recipe.Category" TagColor="@recipe.CategoryColor" />
    <ul class="ingredients">
        @foreach (var ingredient in recipe.Material.Split('$'))
        {
            <li>@ingredient.Trim()</li>
        }
    </ul>
</div>

@code {
    [Parameter, EditorRequired]
    public Recipe recipe { get; set; } = new Recipe();
}
